.header{
    background-color: var(--nav-color);
    position: sticky;
    top:0;
    display: flex;
    width: 100%;
    font-size: 1em;
    z-index: 7;
    justify-content: space-between;
    align-items: center;
}

.header .header__image{
    /*float: right;*/
    align-self: start;
    width: 15%;
    min-width: 30px;
    max-width: 80px;
    opacity: 0.7;
    margin-right: 10px;
    background-color: var(--nav-color);
}

.header__nav{
    margin: 5px auto;
}

.header .header__image img{
    width:100%
}

.header .header__nav__list{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap:10px;
    justify-content: center;
}

.header__nav__list__list__items{
    display: inline-block;
    justify-content: center;
}

.header__nav__list__list__items a, li:link, .header__nav__list__list__items a, li:visited {
    color: var(--main-text-color);
    text-decoration: none;

}
@media(hover:hover){
.header__nav__list__list__items:hover{
    background-color: var(--elements-color);
    padding: 5px;
}
}

.header__nav__list__list__items i{
    display: flex;
    justify-content: center;
}



@media (orientation: landscape){
    .header .header__image{
        width: 8%;
}

.header .header__nav__list{
    gap:30px;
    
}
}

@media (min-width: 768px){
    .header .header__nav__list{
        gap:50px;
        font-size: 1.7em;
    }
}