.footer{
    background-color: var(--nav-color);
    margin-top: 60px;
    font-size: 1rem;
    text-align: center;
}

.footer__nav {
    display: flex;
    justify-content: space-around;
}
 
.footer__nav__list li {
    display: flex;
    align-items: center;
    gap:15px;
    padding: 15px;
}

@media (hover:hover){
.footer__nav__list li i:hover{
    background-color: var(--elements-color);
    padding: 5px;
}
}

@media (orientation: landscape){
    .footer__nav__list li {
        gap:30px;
    }
}