.profile{
    color: var(--nav-color);
    height: 75dvh;
    background-image: url(images/fondoPlaneta.jpg);
    background-size: cover;
    outline-style: solid;
    outline-color: var(--main-text-color);
    outline-width: 5px;
    margin: 5%;
    min-height: 490px;
}
 
h2{
    text-align: center;
    margin: 2% 5%; /*Para separar el texto del margen izquierdo y derecho*/
    padding-top: 5px;
}


.profile .profile__content .profile__content__element{
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px; 
}

.profile .profile__content img {
width:35px;
}

.about__Oscar{
    line-height: 1.6;
    list-style-position: inside;
    margin: 2% 5% 3%;/*Para separar el texto del margen izquierdo y derecho*/
}

.about__Oscar p{
    margin-top: 3px;
}

.soft__skills{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*width:90%;
    margin-left: 10%;*/
}


@media (orientation: landscape){
    .profile{
        min-height: 190px;
        height: auto;
    }
    .profile .profile__content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}

}
